<div class="container text-center">
    <h1>About Page</h1>
    <p>
      we are WebDev our company is creating an exclusive website! for you devs and entreprenurs! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, veritatis, beatae, ipsam, saepe cum praesentium in voluptates dicta excepturi esse maiores quam adipisci sit cupiditate minima debitis enim aliquam natus!
    </p>
</div>